{%extends 'all-photos/base.html'%} {% block content %} {{ block.super}}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<div class="container">

  <div class="row">
    <!-- Looping through photos   -->
    {% for photos_item in photos %}

    <!--Display photos Image images  -->
    <div class="col-md-4">
      <div class="card" style="width: 20rem;">
        {%if photos_item.image_image %}
        <h1>{{ photos_item.Category }}</h1>
        <img src="{{photos_item.image_image.url}}" class="img-responsive" alt="Image" width="200" height="200"> {%endif%}
        <div class="card-block">
          <h2 class="text-center"> {{ photos_item.post }} </h2>
          <h4 class="text-center"> {{ photos_item.title }} </h4>
          <h5 class="text-center"> {{ photos_item.description }} </h5>
        </div>
      </div>
    </div>

    {% empty %}
    <h2 class="text-center">There No Photos Items</h2> {% endfor %}
  </div>
</div>


{% endblock %}
